.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

.menukiri {
    height: 70px;
    margin: 115px 0px 0px 0px;
    border: 1px solid white;
}


.menukanan {
    background-color: black;
    height: 70px;
    margin: 115px 0px 0px 0px;
    border: 1px solid white;
}

.logo {
    height: 300px;
    border-radius: 50%;
}



.searchcontent {
    margin: 290px auto 2px auto;
    border: 1px solid black;
    height: 30%;
    width: 75%;
    background-color: #E6E7E8;
}

#pictsearch {
    margin: 0px 0px 0px 0px;
    height: 40%;
}







#search {
    margin: 0px 0px 0px 0px;
    background-color: #E6E7E8;
}



#garis1 {
    border: 3px solid #088998;
    margin: 0px 0px 0px 0px;
}

.pics1 {
    height: 110px;
    margin: 0px 0.5% 0px 0.5%;
    padding: 0px 20px 0px 20px;
}

.sumarry {
    height: 300px;
    margin: 0px 0px 0px 0px;
}

.sum {
    padding: 5px 2px 5px 0px;
    float: left;
    height: 98%;
    margin: 5px 1% 0px 1%;
}

#subtitle {
    height: 40px;
    margin: 10px 0px 10px 0px;
    background-color: #E6E7E8;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

.content {
    height: 450px;
    margin: 0px 0px 0px 0px;
    background-color: white;
}

.contentleft {
    float: left;
    height: 450px;
    padding: 10px 30px 10px 40px;
}



.contentmid {
    float: left;
    height: 450px;
    padding: 10px 30px 10px 30px;
}

#blank {

}

.footer {
    height: 375px;
    margin: 0px 0px 0px 0px;
    background-color: #088998;
}

.foot {
    height: 325px;
    margin: 10px 0px 40px 0px;
    border: 1px solid black;
    background-color: black;
}

#footdesc {
    float: left;
    width: 35%;
    height: 325px;
    margin: 0px 0px 0px 0px;
    border: 1px solid black;
    background-color: black;
}

#contact {
    float: left;
    width: 35%;
    height: 325px;
    margin: 0px 0px 0px 0px;
    border: 1px solid black;
    background-color: black;
}



.blank {
    float: none;
    clear: both;
    margin: 10px 0px 10px 0px;
}

.pagefull {
    width: 100%;
    margin: 0px auto;
}



#gambar {
    float: left;
    width: 30%;
    height: 250px ;
    margin: 75px 25px;
    border: 1px solid black;
}

#isi {
    float: right;
    width: 59.5%;
    height: 250px ;
    margin: 75px 25px 75px 0px;
    background-color: black;
    border: 1px solid black;
}

.space {
    float: none;
    clear: both;
    margin: 10px 0px 10px 0px;
}



.form {
    height: 1000px;
    margin: 0px;
    border: 1px solid black;
    width: 100%;
}







.menukiri .menu1 {
    float: left;
    padding-top: 20px;
    width: 50%;
    height: 68px;
    background-color: black;
}



.menukiri .menu1:hover {
    background-color: #088998;
}



.menukanan .menu2 {
    padding-top: 20px;
    float: left;
    width: 50%;
    height: 68px;
}

.menukanan .menu2:hover {
    background-color: #088998;
}

#gambarlogo {
     width: 100%;
    height: 300px;
    border-radius: 50%;
}

#home {
    margin-left: 0px;
    height: 30px;
    float: left;
}

menu {
    margin: 0px 0px 0px 0px;
    font-size: 14pt;
    color: white;
    font-family: Comic Sans MS;
}

#medal {
    width: 100%;
    height: 100%;
}

#keunggulan {
    width: 35%;
    height: 40%;
    margin: 0px 33%;
}

#content {
    width: 99%;
    height: 50%;
    border: 1px solid black;
}

#ringkasan {
    width: 99%;
    height: 49%;
    border: 1px solid black;
    background-color: black;
}

form {
    width: 90%;
    margin: 36px auto 40px;
}

.search {
    font-size: 14pt;
    margin 10px;
    padding: 15px 15px;
}

.button {
    background-image: url(BAHAN/search%2034.088%20mm%2035.818%20mm.png);
    background-size: cover;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    padding: 0px 0px;
    float: left;
    left: 10px;
    width: 8.33%;
    height: 65px;
}

#cari {
    height: 100%;
    width: 100%;
}

#lonceng {
    float: right;
    width: 50px;
    height: 60px;
}

#up {
    width: 100%;
    height: 100%;
}



.contentright {
    float: left;
    height: 450px;
    padding: 10px 40px 10px 30px;
}

.berita {
    margin: 40px auto;
    width: 75%;
    height: 350px;
}

#berita {
    width: 100%;
    height: 100%
}

#bawah {
    width: 25%;
    margin: 20px;

}

#sosmed {
    float: right;
    width: 29.5%;
    height: 325px;
    margin: 0px 0px 0px 0px;
    border: 1px solid black;
    background-color: black;
}

#ikon {
    width: 15%;
    height: 70px;
    float: left;
    margin: 20px;
}



#textikon {
    float: left;
    margin: 25px 0px;
    width: 75%;
    height: 60px;
    background-color: black;
}

#icon {
    width: 15%;
    height: 60px;
    float: left;
    margin: 25px;
}

#texticon {
    float: left;
    margin: 25px 0px;
    width: 65%;
    height: 60px;
    background-color: black;
}

#sumhead {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

#summary {
    text-align: center;
    font-size: 14pt;
}



.underline {
    width: 3%;
    border: 2px solid #088998;
    margin: 0px auto;
}

.underline2 {
    width: 95%;
    border: 3px solid white;
    margin: 0px auto;
}

.singkat {
    font-size: 10pt;
    margin: 5px;
    color: white;
}

.title {
    margin: 5px;
    font-weight: bold;
    color: white;
}

.underline3 {
    width: 97%;
    margin: 0 auto;
}

.bawah {
    text-align: left;
    float: left;
    font-size: 11pt;
    color: white;

}

.share {
    padding: 9px 0px;
    width: 8%;
    height: 46px;
    margin-left: 10px;
}

.bawahkanan {
    float: right;
    color: white;
}

.duta {
    height: 90px;
    margin: 0px 0px 0px 0px;
    background-color: #E6E7E8;
    font-size: 16pt;
    font-weight: bold;
}

#duta {
    width: 85%;
    height: 75px;
    margin: 0px auto;
}

.desc {
    color: white;
    margin: 20px 10px;
}

.down {
    color: white;
}

.pictduta {
    float: left;
    padding: 0px 5px;
}

.daftar {
    margin: 3px 15px;
    float: left;
}

.daftar2 {
    float: left;
    margin: 7px 0px;
}

.wp {
    height: 860px;
    border: 1px solid black;
    background-image: url(BAHAN/v.png);
    background-size: cover;
}

.wp-event {
    height: 860px;
    border: 1px solid black;
    background-image: url(BAHAN/walpaper%20event.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wp-kuliner {
    height: 860px;
    border: 1px solid black;
    background-image: url(BAHAN/walpaper%20kuliner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wp-dest {
    height: 860px;
    border: 1px solid black;
    background-image: url(BAHAN/walpaper%20destinasi.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.gambar {
    width: 100%;
    height: 100%
}

.titlecon {
    margin: 10px 15px;
    font-weight: bold;
    color: white;
    font-size: 24pt;
}

.singkatcon {
    font-size: 18pt;
    margin: 10px 15px;
    color: white;
}

.bawahcon {
    text-align: left;
    float: left;
    font-size: 20pt;
    color: white;
    margin: 14px 15px;
}

.bawahkanancon {
    float: right;
    font-size: 20pt;
    color: white;
    margin: 14px 15px;
}

.contentcon {
    height: 400px;
    margin: 0px 0px 0px 0px;
    background-color: #088998;
}

.sharecon {
    padding: 8px 0px;
    width: 5%;
    height: 40px;
    margin-left: 5px;
}

.wp-form {
    height: 860px;
    border: 1px solid black;
    background-image: url(BAHAN/wallpaper%20form.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#subtitlecon {
    height: 50px;
    width: 3%;
    background-color: black;
    margin: 0px 0px 0px 10px;
    float: right;
}

#subtitlecon:hover {
    background-color: #088998;
}

.np {
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
    margin: 15px;
    color: white;
}

#subtitlenex {
    height: 50px;
    width: 10%;
    background-color: black;
    margin: 0px 0px 0px 10px;
    float: right;
}

#subtitlenex:hover {
    background-color: #088998;
}





}





table {
    width="100%";
    border="0px";
}



.ket {
    width: 50%;
    color: red;
    font-weight: bold;
    font-size: 10pt;
    font-family:  Trebuchet MS;
    font-style: italic;
}

.per {
    width: 50%;
    font-family: Trebuchet MS;
}

span {
    color: red;
}

.tengah {
    width: 1%;
}

#form {
    width: 50%;
}



fieldset {
    border: 2px solid #088998;
}

.judul {
    color: #088998;
    text-align: center;
}

#judul {
    color: #088998;
}

.judul2 {
    color: #088998;
}

legend {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 24pt;
    margin: 0px 0px 25px 0px;
}

.kotak {
     width: 90%;
     margin: 36px auto 40px;
}

#jember {
    margin: 30px 30%;
    width: 40%
}





.text {
    width: 100%;
    height: 100%;
}
