#menukiri {
    width: 30%;
    float: left;
    height: 70px;
    margin: 115px 0px 0px 0px;
    border: 1px solid black;
}


#menukanan {
    background-color: black;
     width: 30%;
    float: right;
    height: 70px;
    margin: 115px 0px 0px 0px;
    border: 1px solid black;
}

#logo {
    width: 41.3%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}


header {
    height: 860px;
    border: 1px solid black;
    background-image: url(BAHAN/v.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.searchcontent {
    margin: 300px auto 2px auto;
    border: 1px solid black;
    width: 75%;
    height: 30%;
    background-color: #E6E7E8;
}

#pictsearch {
    margin: 0px 0px 0px 0px;
    height: 40%;
}







#search {
    margin: 0px 0px 0px 0px;
    background-color: #E6E7E8;
}



#garis1 {
    border: 3px solid aqua;
    margin: 0px 0px 0px 0px;
}

#pics1 {
    float: left;
    height: 110px;
    width : 5%;
    margin: 0px 1.2% 0px 1.2%;
}

.sumarry {
    height: 300px;
    margin: 0px 0px 0px 0px;
}

.sum {
    padding: 5px 2px 5px 0px;
    float: left;
    width: 25.8%;
    height: 280px;
    margin: 5px 1% 0px 1%;
}

#subtitle {
    height: 40px;
    margin: 0px 0px 0px 0px;
    background-color: #E6E7E8;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

.content {
    height: 400px;
    margin: 0px 0px 0px 0px;
    border: 1px solid black;
}

#contentleft {
    float: left;
    width: 27%;
    height: 365px;
    margin: 15px 3%;
    border: 1px solid black;
}



#contentmid {
    float: left;
    width: 27%;
    height: 365px;
    margin: 15px 3%;
    border: 1px solid black;
}

#blank {

}

.footer {
    height: 375px;
    margin: 0px 0px 0px 0px;
    border: 1px solid black;
    background-color: #088998;
}

.foot {
    height: 325px;
    margin: 5px 0px 40px 0px;
    border: 1px solid black;
    background-color: black;
}

#footdesc {
    float: left;
    width: 35%;
    height: 325px;
    margin: 0px 0px 0px 0px;
    border: 1px solid black;
    background-color: black;
}

#contact {
    float: left;
    width: 35%;
    height: 325px;
    margin: 0px 0px 0px 0px;
    border: 1px solid black;
    background-color: red;
}



.blank {
    float: none;
    clear: both;
    margin: 10px 0px 10px 0px;
}

.pagefull {
    width: 100%;
    margin: 0px auto;
}

#pics2 {
    float: right;
    height: 110px;
    width : 5%;
    margin: 0px 1.2% 0px 1.2%;
}

#gambar {
    float: left;
    width: 30%;
    height: 350px ;
    margin: 25px;
    border: 1px solid black;
}

#isi {
    float: right;
    width: 59.5%;
    height: 350px ;
    margin: 25px 25px 25px 0px;
    border: 1px solid black;
}

.space {
    float: none;
    clear: both;
    margin: 10px 0px 10px 0px;
}



.form {
    height: 1000px;
    margin: 0px;
    border: 1px solid black;
    width: auto;
}







#menukiri #menu1 {
    float: left;
    padding-top: 20px;
    width: 50%;
    height: 50px;
    background-color: black;
}

#menukiri #menu1:hover {
    background-color: aqua;
}

#menukanan #menu2 {
    padding-top: 20px;
    float: left;
    width: 50%;
    height: 50px;
}

#menukanan #menu2:hover {
    background-color: aqua;
}

#gambarlogo {
     width: 96%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#home {
    margin-left: 0px;
    height: 30px;
    float: left;
}

menu {
    margin: 0px 0px 0px 0px;
    font-size: 14pt;
    color: white;
    font-family: Comic Sans MS;
}

#medal {
    width: 100%;
    height: 100%;
}

#keunggulan {
    width: 35%;
    height: 40%;
    margin: 0px 33%;
}

#content {
    width: 99%;
    height: 55%;
    border: 1px solid black;
}

#ringkasan {
    width: 99%;
    height: 43%;
    border: 1px solid black;
}

form {
    width: 90%;
    margin: 36px auto 40px;
}

.search {
    font-size: 14pt;
    margin 10px;
    width: 85%;
    padding: 15px 15px;
}

.button {
    background-image: url(BAHAN/search%2034.088%20mm%2035.818%20mm.png);
    background-size: cover;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    padding: 8px 15px;
    left: 5px;
    height: 58px;
    width: 58px;
    float: right;
}

#cari {
    height: 100%;
    width: 100%;
}

#lonceng {
    float: right;
    width: 50px;
    height: 60px;
}

#up {
    width: 100%;
    height: 100%;
}



#contentright {
    float: right;
    width: 27%;
    height: 365px;
    margin: 15px 3%;
    border: 1px solid black;
}

.berita {
    margin: 40px auto;
    width: 75%;
    height: 320px;
}

#berita {
    width: 100%;
    height: 100%
}

#bawah {
    width: 25%;
    margin: 20px;

}

#sosmed {
    float: right;
    width: 29.5%;
    height: 325px;
    margin: 0px 0px 0px 0px;
    border: 1px solid black;
    background-color: hotpink;
}

#ikon {
    width: 15%;
    height: 70px;
    float: left;
    margin: 20px;
}



#textikon {
    float: left;
    margin: 25px 0px;
    width: 75%;
    height: 60px;
    background-color: aqua;
}

#icon {
    width: 15%;
    height: 60px;
    float: left;
    margin: 25px;
}

#texticon {
    float: left;
    margin: 25px 0px;
    width: 65%;
    height: 60px;
    background-color: aqua;
}

#sumhead {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

#summary {
    text-align: center;
    font-size: 14pt;
}



.underline {
    width: 3%;
    border: 2px solid aqua;
    margin: 0px auto;
}

.underline2 {
    width: 95%;
    border: 3px solid aqua;
    margin: 0px auto;
}

.singkat {
    font-size: 10pt;
    margin: 5px;
}

.title {
    margin: 5px;
    font-weight: bold;
}

.underline3 {
    width: 97%;
    margin: 0 auto;
}

.bawah {
    text-align: left;
    float: left;
    font-size: 11pt;

}

.share {
    padding: 8px 0px;
    width: 8%;
    height: 30px;
    margin-left: 5px;
}

.bawahkanan {
    float: right;
}

.duta {
    height: 75px;
    margin: 0px 0px 0px 0px;
    background-color: #E6E7E8;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

#duta {
    width: 75%;
    height: 75px;
    margin: 0px auto;
}
